{
  "root": true,
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "svelte3"
  ],
  "overrides": [{
    "files": ["**/*.svelte"],
    "processor": "svelte3/svelte3"
  }],
  "extends": "standard",
  "parser": "babel-eslint",
  "rules": {
    "no-console": 1
  }
}
