<a
  href="{basePath}{to}"
  class="{computedClassName}"
  on:click="navigate(event, to)"
>
  <slot></slot>
</a>

<script>
  const activeClassName = 'router-link-active'
  
  export default {
    data () {
      return {
        replace: false,
        to: '/',
        basePath: '',
        isActive: false,
        className: '',
        activeClassName,
        event: null,
        match: ''
      }
    },
    oncreate () {
      this.setActiveClass(history.location)
      this.set({
        event: history.listen(this.setActiveClass.bind(this))
      })
    },
    ondestroy () {
      this.get().event()
    },
    methods: {
      navigate (event, to) {
        event.preventDefault()

        if (to) {
          const { pathname } = history.location

          if (pathname !== to) {
            if (this.get().replace) {
              history.replace(to)
            } else {
              history.push(to)
            }
          }
        }
      },

      setActiveClass (location) {
        const { match, to } = this.get()
        
        let isActive = location.pathname === to
        if (!isActive) {
          const matchArr = match.split('/')
          const pathArr = location.pathname.split('/')
          if (matchArr.length === pathArr.length) {
            let flag = false
            for (let i = 0; i < matchArr.length; i++) {
              flag = matchArr[i] === pathArr[i] || matchArr[i].indexOf(':') === 0
              if (!flag) break
            }
            isActive = flag
          }
        }

        this.set({ isActive })
      }
    },
    computed: {
      computedClassName ({ isActive, className, activeClassName }) {
        const classes = []

        if (typeof className === 'string') classes.push(className)
        if (isActive) classes.push(activeClassName)

        return classes.join(' ')
      }
    }
  }
</script>
